body {
    margin: 0;
    background-color: rgb(19, 18, 18);
    width: auto;
    height: auto;
    max-width: 100%;
}

.content {
    color: white;
}

code {
    white-space: pre;
}


h1 {
    margin-top: 0px;
    padding-top: 20px;
}

div a {
    margin: 5px;
}


.main {
    padding: 10px;
}

.main ul li a {
    color:  #2673c5;
    text-decoration: none;
}

.main h1 {
    color: #98b1c4;
}

.main form label {
    color:  #2673c5;
    margin-bottom: 10px;
    margin-top: 5px;
}
.main form textarea {
    margin-bottom: 10px;
}

.boton {
    border-radius: 0.4em;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
    border-radius: 0.5em;
    margin-bottom: 10px;
}

.sidebar {
    background-color: #dae3d5;
    height: 100vh;
    padding: 20px;
}
.sidebar div a {
    text-decoration: none;
    color: black;
}

.sidebar h2 {
    text-align: center;
    margin-top: 5px;
}