{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Entry does exist</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        body {
            background-color: #ffc0a5;
        }
        a {
            text-decoration: none;
            color: black;
        }
        button {
            text-decoration: none;
        }
        h1 {
            font-family: sans-serif;            
        } 
        p {
            font-size: 24pt;
        }
    </style>
</head>
<body>
    <div style="margin: 100px 0px 0px 0px;" class="container-fluid">
        <div class="row justify-content-center">
                <img width="150px" src="{% static 'encyclopedia/warning.png' %}" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="WARNING">
        </div>
        <br>
        <div class="row justify-content-center">
            <div class="col-12 col-md-6" >
                <p style="text-align: center; font-size: 30px;">
                    <em>
                        This entry does exist in the encyclopedia. <br>
                                Please change the title.
                    </em>
                </p>
            </div>
        </div>
        <hr>
        <div class="row justify-content-center">
            <button style="background-color: bisque;" type="button"  class="btn btn-lg">
                <a  style="text-decoration: none; color: black;" href="{% url 'encyclopedia:create' %}"> CREATE PAGE </a>
            </button>
        </div>
    </div>
        
</body>
</html>