{% extends "encyclopedia/layout.html" %}

{% block title %}
    CREATE
{% endblock %}
{% block body %}
<h1> {{ type }}</h1>
    <p style="color: red; text-align: center; font-size: 100%;">
        <em>
            <b>
                {{mensaje}}
            </b>
        </em>
    </p>
    <div style=" display:flex;justify-content: center;align-items: center;">
<form style="width:85%;" action="{% url 'encyclopedia:create' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit" class="btn btn-primary">Create</button>
</form>
</div>
{% endblock %}