{% extends "encyclopedia/layout.html" %}

{% block title %}
    CREATE
{% endblock %}
<H1>HOLA</H1>
{% block body %}
<h1>Add Task</h1>
    <p style="color: red; text-align: center; font-size: 100%;">
        <em>
            <b>
                {{mensaje}}
            </b>
        </em>
    </p>
<form style="width:85%;" action="{% url 'encyclopedia:create' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit" class="btn btn-primary">Create</button>
</form>
{% endblock %}